##
# NOTE: These are just for development, definitely use your own .env file in production.
##
MYSQL_ROOT_PASSWORD=stockpal_dev_root_password
MYSQL_DATABASE=stockpal_dev
MYSQL_USER=stockpal_dev
MYSQL_PASSWORD=stockpal_dev
MYSQL_DATABASE_HOST=db
