@import 'components/all';
.stockpal-wrapper {
  .main-menu {
    display: flex;
    align-items: center;
    .main-menu-app-title {
      font-family: 'Cabin Sketch';
      font-size: 2.3rem;
      margin-left: 20px;
    }
    .main-menu-user-name {
      margin-right: 10px;
    }
    .main-menu-user-picture {
      width: 32px;
      height: 32px;
    }
    .main-menu-logout-link {
      color: #FF0000;
    }
  }
  .page-content-column {
    padding: 1rem;
    .page-content-segment {
      min-height: 600px;
    }
  }
}
