@import 'components/all';
.stock-modal {
  padding: 35px;
  resize: both;
  overflow: auto;
  .single-stock-info-wrapper {
    text-align: center;
    .single-stock-logo>img {
      border-radius: 15%;
      display: block;
      box-shadow: 0 4px 5px 0 #d4d4d5, 0 0 1px 1px #d4d4d5;
      margin: 0 auto;
    }
  }
}
.stockpal-wrapper {
  .main-menu {
    display: flex;
    align-items: center;
    .logo-title-container {
      margin-left: 10px;
      .logo-container {
        display: inline-block;
        vertical-align: middle;
        .logo {
          max-height: 40px;
        }
      }
      .main-menu-app-title-container {
        display: inline-block;
        vertical-align: middle;
        .main-menu-app-title {
          font-family: 'Cabin Sketch';
          font-size: 2.3rem;
          margin-left: 20px;
        }
      }
    }
    .main-menu-user-name {
      margin-right: 10px;
    }
    .main-menu-user-picture {
      width: 32px;
      height: 32px;
    }
    .main-menu-logout-link {
      color: #FF0000;
    }
  }
  .page-content-column {
    padding: 1rem;
    .page-content-segment {
      min-height: 600px;
    }
  }
}
