Flask==1.0.2

# Flask Extensions
Flask-Assets==0.12
Flask-Login==0.4.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14

# Other
itsdangerous==1.1.0
cssmin==0.2.0
jsmin==2.2.2

# Testing
pytest==4.1.0
pytest-cov==2.6.1
mccabe==0.6.1
flake8==3.6.0
