# For accessing external APIs
requests==2.21.0

# Flask and its extensions
Flask==2.3.2
Flask-Restful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Migrate==2.3.1

# Misc
Authlib==0.10
mysqlclient==1.4.1
celery[redis]==4.2.1

# Data handling
pandas==0.24.2

# Testing
pytest==4.1.0
pytest-cov==2.6.1
mccabe==0.6.1
flake8==3.6.0
